
.height100 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  padding: 30px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: grey;
  width: 800px;
}

.login-email, .login-password {
  display: grid;
  grid-template-columns: 1fr;
}
